// http://www.color-blindness.com/color-name-hue/
// http://chir.ag/projects/name-that-color

// basics
$color-white: #FFFFFF;
$color-black: #000000;

// blue
$color-cobalt: #01579b;

// green
$color-caribbean-green: #00bfa5;

// red
$color-burnt-sienna: #ee5655;

// gray
$color-casper: #a9b1b8;
