<div class="get-apps">
  <div class="app-info">
    <h3>Get the apps</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque eu aliquam est. Ut a volutpat orci, eget tincidunt ex aenean sed luctus.</p>
    <ul class="dots">
      <li><i class="fa fa-circle" aria-hidden="true"></i></li>
      <li><i class="fa fa-circle" aria-hidden="true"></i></li>
      <li><i class="fa fa-circle" aria-hidden="true"></i></li>
    </ul>
  </div>
</div>
