<div class="mobile-menu-panel">
  <ul class="mobile-menu">
    <li><a href="#">SMS App</a></li>
    <li><a href="#">Android App</a></li>
    <li><a href="#">FAQ</a></li>
  </ul>
</div>
<div class="header-inner">


  <div id="logo" class="mobile">
    <a href="REPLACE">
      <img src="../images/logo_sm_2x.png" alt="Plentiful Logo">
    </a>
  </div>
  <div id="logo" class="desktop">
    <a href="REPLACE">
      <img src="../images/logo_2x.png" alt="Plentiful Logo">
    </a>
  </div>

  <div class="header-right">
    <nav role="navigation">
      <ul class="navbar">
        <li><a href="#">SMS App</a></li>
        <li><a href="#">Android App</a></li>
        <li><a href="#">FAQ</a></li>
      </ul>
    </nav>

    <ul class="languages-dropdown">
      <li class="dd-lang"><a href="REPLACE">English</a>
        <ul class="submenu">
          <li><a href="REPLACE">Spanish</a></li>
          <li><a href="REPLACE">Chinese</a></li>
          <li><a href="REPLACE">Korean</a></li>
        </ul>
      </li>
    </ul>

    <div class="mobile-nav">
      <a href="REPLACE"><i class="fa fa-bars"></i></a>
    </div>
  </div>
</div>
