<div class="hero">
  <div class="hero-inner">
    <div class="hero-info">
      <h2>Plentiful for families</h2>
      <p>Plentiful is a free, easy-to-use reservation system for food pantries and the people they serve. Use Plentiful to find pantries and get the food you need, without waiting in line.</p>
      <div class="cta-btn"><a href="REPLACE">Use Plentiful</a></div>
    </div>
    <div class="hero-image"></div>
  </div>
</div>
